<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YOUNG BAR</title>
  <link rel="shortcut icon" href="images/favicon-16x16.png" type="image/x-icon">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/header.css">
  <link rel="stylesheet" href="stylesheets/footer.css">
  <script defer src="javascripts/header_footer.js"></script>
</head>
<body>
  <!-- <header>
    <div data-include-path="header.html"></div>
  </header> -->
  <header class="header">
    <h1>
      <a href="/" class="header__homelink">
        YOUNG BAR
      </a>
    </h1>
    <input type="checkbox" class="header__menu-btn">
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="menu">메뉴</a>
        </li> 
        <li class="header__nav-item">
          <a href="notice">게시판</a>
        </li>
        <li class="header__nav-item item__on">
          <a href="signup">회원가입</a>
        </li>
        <li class="header__nav-item item__on">
          <a href="login">로그인</a>
        </li>
        <li class="header__nav-item item__none">
          <a href="edit">회원정보수정</a>
        </li>
        <li class="header__nav-item item__none">
          <a href="/" class="header__logout">로그아웃</a>
        </li>
        <li class="header__nav-item item__none" id="header__username">
          <span class="header__username"></span>
        </li>
      </ul>
    </nav>
  </header>
</body>
</html>