<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YOUNG BAR</title>
  <link rel="shortcut icon" href="images/favicon-16x16.png" type="image/x-icon">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/index.css">
  <link rel="stylesheet" href="stylesheets/header.css">
  <link rel="stylesheet" href="stylesheets/footer.css">
  <script defer src="javascripts/header_footer.js"></script>
</head>
<body>
  <header class="header">
    <h1>
      <a href="/" class="header__homelink">
        YOUNG BAR
      </a>
    </h1>
    <input type="checkbox" class="header__menu-btn">
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="menu">메뉴</a>
        </li> 
        <li class="header__nav-item">
          <a href="notice">게시판</a>
        </li>
        <li class="header__nav-item item__on">
          <a href="signup">회원가입</a>
        </li>
        <li class="header__nav-item item__on">
          <a href="login">로그인</a>
        </li>
        <li class="header__nav-item item__none">
          <a href="edit">회원정보수정</a>
        </li>
        <li class="header__nav-item item__none">
          <a href="/" class="header__logout">로그아웃</a>
        </li>
        <li class="header__nav-item item__none" id="header__username">
          <span class="header__username"></span>
        </li>
      </ul>
    </nav>
  </header>

  <section class="intro">

    <div class="intro__text">
      <div class="intro__type">
        <div><span aria-hidden="true">😎</span></div>
        <div>YOUNG BAR<span class="underscore">_</span></div></span></div>
      </div>
    </div>
    <div class="intro__tilt"></div>
    <div class="intro__tilt--flip"></div>
  </section>

  <div id="section__container">
    <section id="section" class="section__cocktail">
      <strong class="section__header">
        Cocktail
      </strong>
        <img src="images/section__cocktail.png" alt="" class="section__img01 section__img">

    </section>

    <section id="section" class="section__Whisky">
      <strong class="section__header">
        Whisky
      </strong>
        <img src="images/section__whisky.png" alt="" class="section__img02 section__img">

    </section>

    <section id="section" class="section__wine">
      <strong class="section__header">
        Wine
      </strong>
        <img src="images/section__wine.png" alt="" class="section__img03 section__img">

    </section>
    
  </div>
  </main>

  <footer>
    <h1 class="sr-only">Copyright</h1>
    <div>
      대표 : 권영주, 이경호<br>
      TEL : 010-1234-5678<br>
      E-Mail : youngbar@google.com
    </div>
  </footer>
</body>
</html>