<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YOUNG BAR</title>
  <link rel="shortcut icon" href="images/favicon-16x16.png" type="image/x-icon">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/notice.css">
  <link rel="stylesheet" href="stylesheets/header.css">
  <link rel="stylesheet" href="stylesheets/footer.css">
  <link rel="stylesheet" href="stylesheets/notice_main.css">
</head>
<body>
  <header class="header">
    <h1>
      <a href="/" class="header__homelink">
        YOUNG BAR
      </a>
    </h1>
    <input type="checkbox" class="header__menu-btn">
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="menu">메뉴</a>
        </li> 
        <li class="header__nav-item">
          <a href="notice">게시판</a>
        </li>
        <li class="header__nav-item item__on">
          <a href="signup">회원가입</a>
        </li>
        <li class="header__nav-item item__on">
          <a href="login">로그인</a>
        </li>
        <li class="header__nav-item item__none">
          <a href="edit">회원정보수정</a>
        </li>
        <li class="header__nav-item item__none">
          <a href="/" class="header__logout">로그아웃</a>
        </li>
        <li class="header__nav-item item__none" id="header__username">
          <span class="header__username"></span>
        </li>
      </ul>
    </nav>
  </header>

  <section class="section__notice">
    <article class="article__notice"></article>
      <div class="notice_wrap">
        <div class="notice_title">
            <strong>게시판</strong>
            <p>공지사항, 게시판으로 사용합니다.</p>
        </div>
        <div class="notice_list_wrap">
            <div class="notice_list">
                <div class="top">
                    <div class="num">번호</div>
                    <div class="title">제목</div>
                    <div class="writer">글쓴이</div>
                    <div class="date">작성일</div>
                    <div class="count">조회</div>
                </div>
                <div>
                    <div class="num">5</div>
                    <div class="title"><a href="view.html">글 제목이 들어갑니다.</a></div>
                    <div class="writer">권영주</div>
                    <div class="date">2022.00.00</div>
                    <div class="count">10</div>
                </div>
                <div>
                  <div class="num">4</div>
                  <div class="title"><a href="view.html">글 제목이 들어갑니다.</a></div>
                  <div class="writer">이경호</div>
                  <div class="date">2022.00.00</div>
                  <div class="count">10</div>
              </div>
              <div>
                <div class="num">3</div>
                <div class="title"><a href="view.html">글 제목이 들어갑니다.</a></div>
                <div class="writer">권영주</div>
                <div class="date">2022.00.00</div>
                <div class="count">10</div>
              </div>
              <div>
                <div class="num">2</div>
                <div class="title"><a href="view.html">글 제목이 들어갑니다.</a></div>
                <div class="writer">이경호</div>
                <div class="date">2022.00.00</div>
                <div class="count">10</div>
              </div>
              <div>
                <div class="num">1</div>
                <div class="title"><a href="view.html">글 
                  제목이 들어갑니다.</a></div>
                <div class="writer">권영주</div>
                <div class="date">2022.00.00</div>
                <div class="count">10</div>
              </div>
            </div>
            <div class="notice_page">
                <a href="#" class="bt first"><<</a>
                <a href="#" class="bt prev"><</a>
                <a href="#" class="num on">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="num">4</a>
                <a href="#" class="num">5</a>
                <a href="#" class="bt next">></a>
                <a href="#" class="bt last">>></a>
            </div>
            <div class="bt_wrap">
                <a href="write.html" class="on">글 작성</a>
                <!--<a href="#">수정</a>-->
            </div>
        </div>
    </div>
  </section>

  <footer>
    <h1 class="sr-only">Copyright</h1>
    <div>
      대표 : 권영주, 이경호<br>
      TEL : 010-1234-5678<br>
      E-Mail : youngbar@google.com
    </div>
  </footer>
</body>
</html>