<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/test.css">
  <script defer src="javascripts/test.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="user">
    <p class="email"></p>
    <p class="age"></p>
    <p class="username"></p>
    <p class="birthday"></p>
    <p class="password"></p>
  </div>

  <div id="edit__div">
    <div id="edit__setdiv">
    <input class="edit__admin" type="radio" id="admin__true" value="true" name="admin__check">
    <label for="admin__true" class="edit__label">관리자</label>
    </div>
    <div id="edit__setdiv">
    <input class="edit__admin" type="radio" id="admin__false" value="false" name="admin__check">
    <label for="admin__false" class="edit__label">일반 유저</label>
    </div>
</body>
</html>