<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/test_menu.css">
  <title>Document</title>
  <script defer src="javascripts/test_menu.js"></script>
</head>
<body>
  <div id="menutest">
    <ul class="menutest__ul">
      <li class="menutest__li">
        
        <!-- div 를 활용해서 내부에 img 태그를 넣을 수 있다. -->
        <div id="menu_img">

        </div>
        <span class="menu__name"></span>
        <span class="menu__alcohol"></span>
        <span class="menu__category"></span>
        <span class="menu__ingredient"></span>
      </li>
      <li class="menutest__li"></li>
      <li class="menutest__li"></li>
      <li class="menutest__li"></li>
      <li class="menutest__li"></li>

    </ul>
  </div>
</body>
</html>