.header {
  display: flex;
  position: sticky;

  /* 스크롤업되는 컨텐츠 위로 올라오게 함 */
  z-index: 2;

  top: 0;
  height: var(--height-toolbar);
  justify-content: space-between;
  align-items: center;
  background-color: rgba(113, 136, 238, 0.75);
  color: white;
}

.header__homelink {
  display: inline-block;
  padding: 0 24px;
  height: var(--height-toolbar);
  line-height: var(--height-toolbar);
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
}

.header__nav-item {
  font-size: var(--font-size-larger);
}

.header__nav-item a {
  /* a 태그는 높이 설정을 못해서 inline-block 으로 바꿈 */
  display: inline-block;
  height: var(--height-toolbar);
  line-height: var(--height-toolbar);
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }

  .header__menu-btn {
    all: unset;
    display: block;
    width: var(--height-toolbar);
    height: var(--height-toolbar);
    background-image: url(../images/menu-button.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .header__menu-btn:checked {
    background-color: var(--color-dark);
  }

  .header__menu-btn:checked + .header__nav{
    display: inherit;
    position: absolute;
    top: var(--height-toolbar);
    right: 0;
    background-color: var(--color-dark);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  .header__nav-item {
    width: 50vw;
    text-align: center;
  }

  .header__nav-item a {
    width: 50vw;
  }

  .header__nav-item:not(:last-child) {
    border-bottom: 2px solid rgba(255, 255, 255, 0.06);
  }
}


@media (min-width: 769px) {
  .header__nav-item {
    display: inline-block;
    position: relative;
  }
  .header__nav-item:last-child {
    margin-right: 1.6em;
  }

  .header__nav-item a {
    padding: 0 0.8em;
  }

  /* li가 끝나고 애프터 발생 */
  .header__nav-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    background-color: white;
    transition: all 350ms;
  }
  .header__nav-item:hover::after {
    left: 0;
    width: 100%;
    height: 8px;
  }

  .header__menu-btn {
    display: none;
  }
}