.underscore {
  animation: blink;
  animation-duration: 350ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.intro {
  position: relative;
  background-image: url(../images/main_intro.jpg);
  background-size: cover;
  background-position: center;
}

.intro__text {
  position: absolute;
  top: 0px; bottom: 0px;
  left: 0px; right: 0px;
  text-align: center;
}

.intro__type {
  display: inline-flex;
  gap: 0.32em;
  font-family: var(--font-code);
  font-size: 2.8em;
  font-weight: bold;
  color: white;
}



@media (max-width: 768px) {
  .intro {
    height: 100vh;
  }

  .intro__type {
    margin-top: 36vh;
    flex-direction: column;
    text-align: left;
  }
}

@media (min-width: 769px) {
  .intro {
    height: 80vh;
  }

  .intro__type {
    margin-top: 172px;
    align-items: center;
  }
  
  .intro__type span {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0.25em;
  }
}

@keyframes blink {
  from { opacity: 0;}
  to { opacity: 1;}
}